version: "3.9"

services:
  app:
    image: my-app
    container_name: prisma_poc_app
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "4000:4000"

    volumes:
      # Mount source code for live reload
      - .:/app
      # Prevent node_modules from being overwritten
      - /app/node_modules

    env_file:
      - .env

    command: npm start
